$background: #fff;
$text-dark: #333;
$text-light: #fff;
$link: #1976d2;
$link-hover: #125699;
$blue: #000066;

$shadow: 0 0 10px 1px #ddd;

@mixin box-styles {
  background-color: $background;
  box-shadow: $shadow;
}

@mixin page-parts {
  @include box-styles;
  display: flex;
  align-items: center;
  padding: 0 30px;
}
